# Database Connection

In [1]:
import pandas as pd
import sys
import os

sys.path.append("../")
sys.path.append("../..")

## InfluxDB client

In [2]:
# connect to influxdb
from clust.ingestion.influx import influx_Client_v2 as influx_Client
from setting import influx_setting_KETI as ins
"""
example setting Info: 
CLUSTDataServer2={
        "url":'http://server:8086/',
        "token":"tokenInfo",
        "org":"orgInfo"
}
"""

db_client = influx_Client.influxClient(ins.CLUSTDataServer2)

### Get Database List

In [4]:
# Get all Database List
db_list = db_client.get_DBList()
db_list

['farm_strawberry_DWQuantum',
 'air_indoor_요양원',
 'traffic_seoul_subway',
 'life_indoor_environment',
 'intData_Hs1SwineFarmWithWeatherTime',
 'air_indoor_아파트',
 'air_indoor_체육시설',
 'air_indoor_도서관',
 'energy_wind_power',
 'bio_covid_vaccinations',
 'energy_electricity_transaction',
 'weather_outdoor_keti_clean',
 'energy_water_discharge',
 'farm_strawberry_awon',
 'city_exhibition_entrance_status',
 'weather_outdoor_keti',
 'finance_korean_stock',
 'air_indoor_고등학교',
 'farm_strawberry_open_bk',
 'air_outdoor_keti_clean',
 'bio_covid_infected_world',
 'farm_strawberry_DWTemp',
 'air_indoor_경로당',
 'air_indoor_유치원',
 'air_indoor_modelSchool',
 'data_integrated_result',
 'farm_strawberry_DWIlluminance',
 'farm_strawberry_gunwi',
 'farm_strawberry_DWSoil',
 'farm_swine_air',
 'energy_solar',
 'traffic_seoul_bike',
 'traffic_public_parking',
 'energy_electronic_power',
 'bio_covid_infected_korea',
 'weather_outdoor_environment',
 'traffic_seoul_bus',
 'farm_strawberry_open',
 'air_indoor_어린이집',
 'farm_strawberry_knu',
 'air_indoor_modelChildcare',
 'air_indoor_중학교',
 'economy_stockUS_NYSE',
 'air_outdoor_kweather',
 'energy_fire_power',
 'life_additional_Info',
 'bio_action_sensors',
 'air_indoor_초등학교',
 'air_outdoor_keti',
 'air_indoor_modelApartment',
 'farm_strawberry_DWSunshine',
 'bio_signal_kwu',
 'life_action_pattern',
 'farm_strawberry_DWTempco2']

### Get Measurement List

In [4]:
# select database
db_name = 'farm_swine_air'

In [5]:
# Get all Measurement list
ms_list = db_client.measurement_list(db_name)
ms_list

['HS1', 'HS2', 'KDS1', 'KDS2', 'Sadle']

### Get Field List

In [6]:
# select measurement
ms_name = 'HS1'

In [7]:
# get all field list of specific measurements
field_list = db_client.get_fieldList(db_name, ms_name)
field_list

['H2Sppm', 'Temperature', 'Humidity', 'NH3ppm', 'CO2ppm']

## DB MS Frequency

In [8]:
# get frequency
freq = db_client.get_freq(db_name, ms_name)

## Get Data Function

### Get All Data

In [9]:
#  Get all data of the specific mearuement, dataframe
all_data = db_client.get_data(db_name, ms_name)
all_data

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0
2020-09-10 00:42:00+00:00   518.0     2.0      73.0    27.0         24.0
2020-09-10 00:44:00+00:00   670.0     2.0      73.0    24.0         24.0
...                           ...     ...       ...     ...          ...
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

[154255 rows x 5 columns]

### Get First Time

In [10]:
# Get the first data of the specific mearuement
first_time = db_client.get_first_time(db_name, ms_name)
first_time

Timestamp('2020-09-10 00:36:00+0000', tz='tzutc()')

### Get Last Time

In [11]:
# Get the last data of the specific mearuement
last_time = db_client.get_last_time(db_name, ms_name)
last_time

Timestamp('2021-04-03 19:58:00+0000', tz='tzutc()')

### Get duration Data

In [12]:
# setting time
start_time = "2021-01-01 00:00:00"
end_time = "2021-02-28 23:59:59"

In [13]:
# Get data of the specific measurement based on start-end duration
data_by_time = db_client.get_data_by_time(start_time, end_time, db_name, ms_name)
data_by_time

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-01-01 00:00:00+00:00   916.0     9.0      -5.0     0.0         68.0
2021-01-01 00:02:00+00:00   907.0     5.0      -5.0     0.0         68.0
2021-01-01 00:04:00+00:00   924.0     4.0      -5.0     0.0         68.0
2021-01-01 00:06:00+00:00   919.0     6.0      -5.0     0.0         68.0
2021-01-01 00:08:00+00:00   923.0     5.0      -5.0     0.0         67.0
...                           ...     ...       ...     ...          ...
2021-02-28 23:50:00+00:00  1104.0     2.0       6.0     0.0         93.0
2021-02-28 23:52:00+00:00  1069.0     6.0       6.0     0.0         93.0
2021-02-28 23:54:00+00:00   898.0     7.0       6.0     0.0         93.0
2021-02-28 23:56:00+00:00   937.0     3.0       6.0     0.0         92.0
2021-02-28 23:58:00+00:00  1088.0     2.0       6.0     0.0         92.0

[42480 rows x 5 columns]

In [14]:
end_time = "2021-03-10 00:00:00"
days=7

In [15]:
# Get data of the specific mearuement based on time duration (days)
# duration : (end_time - days) ~ last_time
data_by_days = db_client.get_data_by_days(end_time, days, db_name, ms_name)
data_by_days

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-03-03 00:00:00+00:00   969.0     8.0       0.0     1.0         91.0
2021-03-03 00:02:00+00:00   954.0     3.0       0.0     1.0         90.0
2021-03-03 00:04:00+00:00  1011.0     3.0       0.0     NaN         90.0
2021-03-03 00:06:00+00:00  1071.0     4.0       0.0     1.0         90.0
2021-03-03 00:08:00+00:00  1070.0     3.0       0.0     NaN         90.0
...                           ...     ...       ...     ...          ...
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

[28993 rows x 5 columns]

In [16]:
number = 3

In [17]:
# Get the first N number data from the specific measurement
# number 개수만큼 데이터 가져오기
front_by_num = db_client.get_datafront_by_num(number, db_name, ms_name)
front_by_num

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2020-09-10 00:36:00+00:00   637.0     5.0      74.0    45.0         24.0
2020-09-10 00:38:00+00:00   360.0     2.0      74.0    37.0         24.0
2020-09-10 00:40:00+00:00   465.0     3.0      73.0    31.0         24.0

In [18]:
# Get the last N number data from the specific measurement
# number 개수만큼 마지막 데이터 가져오기
end_by_num = db_client.get_dataend_by_num(number, db_name, ms_name)
end_by_num

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-04-03 19:53:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:54:00+00:00   945.0     3.0       NaN     0.0          NaN
2021-04-03 19:55:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:56:00+00:00  1111.0     2.0       NaN     0.0          NaN
2021-04-03 19:57:00+00:00     NaN     NaN      11.0     NaN         95.0
2021-04-03 19:58:00+00:00   994.0     2.0       NaN     0.0          NaN

In [19]:
# setting time, number
start_time = "2021-01-01 00:00:00"
end_time = "2021-02-01 00:00:00"
number = 10

In [20]:
# Get the limit data of the specific mearuement based on time duration (days)
# 설정한 기간 중, number 개수만큼 데이터 가져오기
data_limit_by_time = db_client.get_data_limit_by_time(start_time, end_time, number, db_name, ms_name)
data_limit_by_time

                           CO2ppm  H2Sppm  Humidity  NH3ppm  Temperature
time
2021-01-01 00:00:00+00:00   916.0     9.0      -5.0     0.0         68.0
2021-01-01 00:02:00+00:00   907.0     5.0      -5.0     0.0         68.0
2021-01-01 00:04:00+00:00   924.0     4.0      -5.0     0.0         68.0
2021-01-01 00:06:00+00:00   919.0     6.0      -5.0     0.0         68.0
2021-01-01 00:08:00+00:00   923.0     5.0      -5.0     0.0         67.0
2021-01-01 00:10:00+00:00   931.0     9.0      -5.0     0.0         67.0
2021-01-01 00:12:00+00:00   926.0     5.0      -5.0     0.0         68.0
2021-01-01 00:14:00+00:00   907.0     4.0      -5.0     0.0         68.0
2021-01-01 00:16:00+00:00   926.0     5.0      -5.0     0.0         68.0
2021-01-01 00:18:00+00:00   926.0     6.0      -5.0     0.0         68.0

In [21]:
# Get the data count from the specific measurement
# Data 개수
data_count = db_client.get_data_count(db_name, ms_name)
data_count

148098

In [23]:
# Get data of the specific measurement based on start-end duration
# 특정 기간내의 Data 개수
data_time_count = db_client.get_data_by_time_count(start_time, end_time, db_name, ms_name)
data_time_count

22320

# Tag Method

In [24]:
db_name  = 'finance_korean_stock'

In [25]:
ms_list = db_client.measurement_list(db_name)
print(ms_list)

['stock']

In [26]:
ms_name = 'stock'

In [27]:
# Get Tag List(database must have a tag keys)
tag_list = db_client.get_tagList(db_name, ms_name)
print(tag_list)

['company', 'country', 'exchange', 'industry', 'ticker']

In [28]:
# Get unique value of selected tag key
tag_key = 'company'
tag_distinct_value = db_client.get_TagValue(db_name, ms_name, tag_key)
tag_distinct_value

['AJ네트웍스',
 'ASML 홀딩 NV ADR',
 'AT&T 5.625% 글로벌 노트',
 'AT&T Inc',
 'Abb Ltd ADR',
 'Afya Ltd Class A',
 'Alliance Resource Partners LP Unit',
 'BGF리테일',
 'BHP 그룹',
 'BHP 그룹 PLC ADR',
 'BP PLC ADR',
 'Brookfield Business Partners LP Unit',
 'CAE Inc',
 'CBRE 그룹 Class A',
 'CJ',
 'CJ CGV',
 'CJ대한통운',
 'CJ제일제당',
 'CMS 에너지',
 'CSX Corp',
 'CVS 헬스',
 'D.R.호턴',
 'DB',
 'DB손해보험',
 'DB하이텍',
 'DL이앤씨',
 'ESR켄달스퀘어리츠',
 'Enterprise Products Partners LP Unit',
 'F&F',
 'GKL',
 'GS',
 'GSX 테크에듀 ADR Class A',
 'GS건설',
 'GS글로벌',
 'GS리테일',
 'HCA 헬스케어',
 'HMM',
 'IPG 포터닉스',
 'JD닷컴 ADR',
 'KB금융',
 'KCC',
 'KG동부제철',
 'KG케미칼',
 'KODEX 200',
 'KODEX 200선물인버스2X',
 'KODEX 단기채권',
 'KODEX 삼성그룹',
 'KSS해운',
 'KT',
 'KT&G',
 'KTcs',
 'LG',
 'LG디스플레이',
 'LG상사',
 'LG생활건강',
 'LG생활건강우',
 'LG유플러스',
 'LG이노텍',
 'LG전자',
 'LG전자우',
 'LG헬로비전',
 'LG화학',
 'LIG넥스원',
 'MPLX LP Unit',
 'MYT 네덜란드 패어런트 ADR',
 'NAVER',
 'NHN',
 'NICE',
 'NIO ADR Class A',
 'Nuveen Amt-Free Quality Municipal Income Fund',
 'PC 커넥션',
 'PCN 파이낸셜 서비스',
 'POSCO',
 'PPL Corp',
 'S&P 글로벌',
 'S-Oil',
 'SBS',
 'SGC에너지',
 'SK',
 'SK가스',
 'SK디스커버리',
 'SK디앤디',
 'SK렌터카',
 'SK바이오사이언스',
 'SK바이오팜',
 'SK아이이테크놀로지',
 'SK이노베이션',
 'SK텔레콤',
 'SK하이닉스',
 'STX',
 'Sprott Physical Gold Trust',
 'T-모바일 US',
 'TAL 에듀케이션 그룹 ADR Class A',
 'TC 에너지',
 'TIGER 200',
 'TJX 컴퍼니스',
 'U.S. 뱅코프',
 'UFP 인더스트리',
 'UGI Crop',
 'United Parcel Service Inc Class B',
 'VF Corp',
 'Vanguard Global ex-US Real Estate Index Fd;ETF',
 '가민',
 '강원랜드',
 '경동나비엔',
 '경인전자',
 '고려아연',
 '골드만삭스',
 '그랜드 캐넌 에듀케이션',
 '그레이엄 홀딩스 Class B',
 '그루포 아에로포르투아리오 센트로 노테 ADR Series B',
 '그루포 에어로포르투아리오 수레스테 ADR',
 '글로벌 인더스트리얼',
 '글로벌 페이먼츠',
 '금강공업',
 '금호석유',
 '기아',
 '기업은행',
 '깨끗한나라',
 '나이키 Class B',
 '내셔널 그리드 ADR',
 '내셔털 퓨얼 가스',
 '넥스젠 에너지',
 '넥스트에라 에너지',
 '넷마블',
 '노바티스 AG ADR',
 '노스톱 그루만',
 '노키아 Oyj ADR',
 '뉴 오리엔탈 에듀케이션 & 테크놀로지 그룹ADR',
 '뉴 포트리스 에너지 Class A',
 '뉴웰브랜즈',
 '다나허',
 '다우',
 '다우기술',
 '대교',
 '대교우B',
 '대덕',
 '대덕1우',
 '대림B&Co',
 '대림통상',
 '대성홀딩스',
 '대우건설',
 '대우조선해양',
 '대한항공',
 '대한해운',
 '더블유게임즈',
 '더존비즈온',
 '데니슨 마인스',
 '데시페라 파머수티컬스',
 '덴티움',
 '델타 에어라인스',
 '델테크놀로지 Class C',
 '도미니언 에너지',
 '도요타자동차 ADR',
 '동국제강',
 '동방',
 '동서',
 '동양고속',
 '동양생명',
 '동원시스템즈',
 '두산밥캣',
 '두산인프라코어',
 '두산중공업',
 '두산퓨얼셀',
 '듀크 에너지',
 '드림텍',
 '디아지오 ADR',
 '디어',
 '라르고 리소시스',
 '라이언에어 홀딩스 ADR',
 '락앤락',
 '레나 Class A',
 '레이테온 테크놀로지스',
 '로리어트 에듀케이션 Class A',
 '로스 스토어스',
 '로얄 더치 쉘 ADR Class A',
 '로우스 컴퍼니',
 '로쿠',
 '록히드 마틴',
 '롯데관광개발',
 '롯데리츠',
 '롯데쇼핑',
 '롯데지주',
 '롯데칠성',
 '롯데케미칼',
 '롯데하이마트',
 '루이지애니-퍼시픽',
 '룰루레몬 애슐레티카',
 '리바이 스트라우스 Class A',
 '리버티 브로드밴드 Series A',
 '리샹 에듀케이션 홀딩 ADR',
 '리오 틴토 ADR',
 '리타 파머수티컬스',
 '린드',
 '마쉬 앤 맥레넌 컴퍼니',
 '마스텍',
 '마이크로소프트',
 '마틴 마리에타 머터리얼스',
 '만도',
 '매리어트 인터내셔널',
 '매스코',
 '맥도날드',
 '맥커 아웃도어',
 '맥쿼리 인프라스트럭처',
 '맥쿼리인프라',
 '메드트로닉',
 '메리츠금융지주',
 '메리츠증권',
 '메리츠화재',
 '메케슨',
 '메틀러 톨레도 인터내셔널',
 '모간스탠리',
 '모나리자',
 '모나미',
 '모토로라 솔루션스',
 '모호크 인더스트리스',
 '몬델리즈 인터내셔널 Class A',
 '무디스',
 '무림P&P',
 '무학',
 '미들비',
 '미래에셋생명',
 '미래에셋증권',
 '바스타 플랫폼 Class A',
 '바이콤CBS Class B',
 '발레 SA ADR',
 '발칸 머티리얼스',
 '뱅크오브아메리카',
 '버라이존 커뮤니케이션스',
 '버크셔 해서웨이 Class A',
 '버크셔 해서웨이 Class B',
 '보잉',
 '보해양조',
 '볼',
 '부산가스',
 '부킹 홀딩스',
 '뷰티 헬스 Class A',
 '브로드리지 파이낸셜 솔루션스',
 '브로드컴',
 '브리티쉬 아메리칸 토바코 ADR',
 '블랙록',
 '블랙스톤 그룹',
 '블루프린트 메디슨스',
 '비상교육',
 '비자 Class A',
 '비케이탑스',
 '비트루',
 '사네아멘투 바지쿠 두 에스타두 ADR',
 '사우스웨스트 에어라인스',
 '삼성SDI',
 '삼성SDI우',
 '삼성물산',
 '삼성바이오로직스',
 '삼성생명',
 '삼성에스디에스',
 '삼성엔지니어링',
 '삼성전기',
 '삼성전자',
 '삼성전자우',
 '삼성중공업',
 '삼성증권',
 '삼성출판사',
 '삼성카드',
 '삼성화재',
 '삼양패키징',
 '삼익악기',
 '삼정펄프',
 '삼화콘덴서',
 '샘프라 에너지',
 '서던',
 '서울가스',
 '서흥',
 '선런',
 '성창기업지주',
 '세멘토스 파카스마요',
 '세방',
 '세아베스틸',
 '세우글로벌',
 '셀트리온',
 '셔윈-윌리엄즈',
 '소니 그룹 ADR',
 '솔라에지 테크놀로지스',
 '솔루스첨단소재',
 '솔루엠',
 '수지노 SA ADR',
 '쉐브론',
 '스타벅스',
 '스텔란티스',
 '스톤코 Class A',
 '슬럼버거',
 '시그나',
 '시멕스 SAB de CV ADR',
 '시스코',
 '시스코 시스템즈',
 '시어 Class A',
 '신도리코',
 '신세계',
 '신세계 I&C',
 '신세계인터내셔날',
 '신송홀딩스',
 '신한지주',
 '신흥',
 '쌍용C&E',
 '써모 피셔 사이언티픽',
 '쓰리엠',
 '씨아이테크',
 '씨에스윈드',
 '아남전자',
 '아레나 파마슈티컬스',
 '아레스 캐피털',
 '아르코 플랫폼',
 '아마존닷컴',
 '아메리칸 스테이츠 워터',
 '아메리칸 에어라인스 그룹',
 '아메리칸 워터 웍스',
 '아메리칸 타워',
 '아모레G',
 '아모레퍼시픽',
 '아세아제지',
 '아이마켓코리아',
 '아치 콜',
 '알루코',
 '알리바바 그룹 홀딩스 ADR',
 '알파 메탈러지컬 리소시스',
 '암베브 SA ADR',
 '암페놀',
 '애보트 레버러토리',
 '애스트 스페이스모바일 Class A',
 '애이콤 테크놀러지',
 '애트모스 에너지',
 '앤섬',
 '에너지 퓨얼스',
 '에넥스',
 '에머슨 일렉트릭',
 '에브비',
 '에센셀 유틸리티스',
 '에스디바이오센서',
 '에스원',
 '에스티 로더',
 '에어 프로덕츠 앤드 케미컬스',
 '에이버리 데니슨',
 '에이온',
 '에코랩',
 '엑셀론',
 '엑슨 모빌',
 '엔비디아',
 '엔씨소프트',
 '엔에스쇼핑',
 '엔에이치스팩19호',
 '엠씨넥스',
 '엠코',
 '영원무역',
 '영풍',
 '오뚜기',
 '오레일리 오토모티브',
 '오리엔트바이오',
 '오리온',
 '오링크 홀딩 AB ADR',
 '오픈도어 테크놀로지스 Class A',
 '우리금융지주',
 '우리종금',
 '웅진싱크빅',
 '원 가스',
 '월그린스 부츠 얼라이언스',
 '월마트',
 '월트 디즈니',
 '월풀',
 '웨스턴 디지털',
 '웨스트 프레이저 팀버',
 '웨이스트 매니지먼트',
 '웰스파고',
 '윌리엄스 컴퍼니즈',
 '유나이티드 에어라인스 홀딩스',
 '유니레버 ADR',
 '유니온 퍼시픽',
 '율촌화학',
 '이노션',
 '이마트',
 '이튼',
 '인터내셔널 플레이버스 & 프레그린스',
 '인터내셔털 페이퍼',
 '인텔',
 '인튜이티브 서지컬',
 '인페이즈 에너지',
 '일라이 릴리',
 '일진다이아',
 '일진디스플',
 '일진머티리얼즈',
 '제너럴 다이내믹스',
 '제너럴 모터스',
 '제너럴 일렉트릭',
 '제이알글로벌리츠',
 '제이콘텐트리',
 '제이콥스엔지니어링',
 '제이피모간체이스',
 '제일기획',
 '제임스 하디 인더스트리스 ADR',
 '제주항공',
 '존스 랭 라살',
 '존슨앤드존슨',
 '주연테크',
 '지누스',
 '지브라 테크놀로지스 Class A',
 '지역난방공사',
 '지투알',
 '진에어',
 '진원생명과학',
 '질로우 그룹 Class C',
 '차터 커뮤니케이션',
 '찰스 슈왑',
 '처브',
 '천일고속',
 '치포틀레 멕시칸 그릴',
 '카바나 Class A',
 '카에코',
 '카카오',
 '캐논 ADR',
 '캘리포니아 워터 서비스 그룹',
 '커네디언 내셔널 레일웨이',
 '컴캐스트',
 '케이씨씨글라스',
 '코닝',
 '코스트코 홀세일',
 '코웨이',
 '코인베이스 글로벌 Class A',
 '코카콜라',
 '코퍼래시온 어메리카 에어포츠',
 '콘솔 에너지',
 '콜게이트-팜올리브',
 '콴타 서비스',
 '쿠쿠홀딩스',
 '쿠쿠홈시스',
 '큐리그 닥터 페퍼',
 '큐어백 NV',
 '크라운 캐슬 인터내셔널',
 '크라운 홀딩스',
 '크래프트 하인즈',
 '크로거',
 '크로락스',
 '키다리스튜디오',
 '키움증권',
 '타겟',
 '타이완 반도체 메뉴펙처링 ADR',
 '테슬라',
 '테이크-투 인터랙티브 소프트웨어',
 '텔레다인 테크놀로지스',
 '텔레폰악티에볼라예트 LM 에릭슨 ADR Class B',
 '텔코웨어',
 '템퍼 실리 인터내셔널',
 '토탈에너지스 SE. ADR',
 '투심플 홀딩스 Class A',
 '트리니티 인더스트리스',
 '티웨이항공',
 '파이서브',
 '팬오션',
 '퍼블릭 서비스 앤터프라이즈',
 '퍼블릭 스토리지',
 '퍼스텍',
 '퍼스트 솔라',
 '퍼스트 하이스쿨 에듀케이션 그룹 ADR Class A',
 '퍼시스',
 '페덱스',
 '페이스북',
 '페이팔 홀딩스',
 '펠로튼 인터랙티브 Class A',
 '펩시코',
 '포스코강판',
 '포스코인터내셔널',
 '포스코케미칼',
 '포춘 브랜즈 홈 & 시큐리티',
 '폴',
 '폴라리스',
 '폴티 그룹',
 '푸르덴셀 ADR',
 '푸투 홀딩스 ADR',
 '풍산',
 '프로그레시브',
 '프로로지스',
 '프록터 & 겜블',
 '프리포트 맥모란',
 '플러그 파워',
 '피델리티 내셔널 인포메이션 서비스',
 '피바디 에너지',
 '필립 모리스 인터내셔널',
 '하나금융지주',
 '하나웰 인터내셔널',
 '하나투어',
 '하이량 에듀케이션 그룹 ADR',
 '하이브',
 '하이트론',
 '하이트진로',
 '하이트진로홀딩스',
 '한국가스공사',
 '한국공항',
 '한국금융지주',
 '한국자산신탁',
 '한국전력',
 '한국조선해양',
 '한국카본',
 '한국콜마',
 '한국타이어앤테크놀로지',
 '한국항공우주',
 '한미반도체',
 '한미사이언스',
 '한샘',
 '한솔제지',
 '한솔홀딩스',
 '한온시스템',
 '한일시멘트',
 '한일현대시멘트',
 '한전KPS',
 '한전기술',
 '한전산업',
 '한진',
 '한진칼',
 '한화',
 '한화생명',
 '한화솔루션',
 '한화시스템',
 '한화에어로스페이스',
 '헤즈브로',
 '현대건설',
 '현대그린푸드',
 '현대글로비스',
 '현대로템',
 '현대리바트',
 '현대모비스',
 '현대미포조선',
 '현대에너지솔루션',
 '현대오토에버',
 '현대위아',
 '현대제철',
 '현대중공업지주',
 '현대차',
 '현대차2우B',
 '현대차우',
 '현대코퍼레이션',
 '현대코퍼레이션홀딩스',
 '현대해상',
 '현대홈쇼핑',
 '호텔신라',
 '홈디포',
 '홍아해운',
 '화이자',
 '효성',
 '효성ITX',
 '효성티엔씨',
 '휠라홀딩스',
 '휴렛 패커드',
 '휴마나']

In [29]:
# get all data
tag_value='GS리테일'
tag_value_data = db_client.get_data(db_name, ms_name, tag_key, tag_value)
tag_value_data[:3]

,company,country,exchange,industry,ticker,adj_close_value,close_value,high_value,low_value,open_value,volume_value
time,,,,,,,,,,,
2021-12-02 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29800.0,29800.0,30050.0,28000.0,28000.0,338421.0
2021-12-17 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30900.0,30900.0,31000.0,30500.0,30700.0,214086.0
2021-12-20 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30450.0,30450.0,30800.0,30300.0,30750.0,122287.0

In [30]:
tag_value_data = db_client.get_data_by_time('2020-01-01','2022-12-31',db_name, ms_name, tag_key, tag_value)
tag_value_data

,company,country,exchange,industry,ticker,adj_close_value,close_value,high_value,low_value,open_value,volume_value
time,,,,,,,,,,,
2021-12-02 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29800.0,29800.0,30050.0,28000.0,28000.0,338421.0
2021-12-17 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30900.0,30900.0,31000.0,30500.0,30700.0,214086.0
2021-12-20 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30450.0,30450.0,30800.0,30300.0,30750.0,122287.0
2021-12-21 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30400.0,30400.0,30600.0,30350.0,30400.0,125014.0
2021-12-22 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30500.0,30500.0,30600.0,30200.0,30600.0,134492.0
2021-12-23 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30750.0,30750.0,30850.0,30400.0,30450.0,124339.0
2021-12-24 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30900.0,30900.0,31150.0,30700.0,30800.0,115829.0
2021-12-27 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30850.0,30850.0,31300.0,30700.0,30950.0,177220.0
2021-12-28 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,31550.0,31550.0,31600.0,30800.0,31000.0,292793.0
2021-12-29 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30800.0,30800.0,31050.0,30800.0,30950.0,194230.0
2021-12-30 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30400.0,30400.0,30900.0,30350.0,30650.0,142593.0
2022-01-03 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30200.0,30200.0,30550.0,30100.0,30400.0,158036.0
2022-01-04 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,30050.0,30050.0,30150.0,29850.0,30150.0,181282.0
2022-01-05 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29750.0,29750.0,30000.0,29750.0,29900.0,143286.0
2022-01-06 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29650.0,29650.0,29850.0,29500.0,29600.0,173545.0
2022-01-07 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29850.0,29850.0,30200.0,29400.0,29500.0,171920.0
2022-01-10 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29350.0,29350.0,29900.0,29150.0,29750.0,190591.0
2022-01-11 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29150.0,29150.0,29450.0,29050.0,29150.0,134773.0
2022-01-12 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29600.0,29600.0,29750.0,29150.0,29150.0,203561.0
2022-01-13 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,29750.0,29750.0,29900.0,29500.0,29600.0,114847.0
2022-02-04 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,28250.0,28250.0,28400.0,27550.0,27750.0,147173.0
2022-02-07 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,28800.0,28800.0,29000.0,27800.0,28250.0,275329.0
2022-02-08 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,28650.0,28650.0,29300.0,28550.0,29050.0,171508.0
2022-02-09 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26850.0,26850.0,28500.0,26750.0,28500.0,1004079.0
2022-02-10 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26900.0,26900.0,27100.0,26700.0,26900.0,472477.0
2022-02-14 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26150.0,26150.0,26400.0,26000.0,26100.0,244754.0
2022-02-15 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,25850.0,25850.0,26250.0,25800.0,26200.0,245152.0
2022-02-16 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26150.0,26150.0,26450.0,26100.0,26150.0,223192.0
2022-02-17 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26300.0,26300.0,26700.0,26050.0,26200.0,336036.0
2022-02-25 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26350.0,26350.0,26500.0,26250.0,26500.0,163020.0
2022-02-28 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26550.0,26550.0,26600.0,26200.0,26300.0,172612.0
2022-03-02 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26950.0,26950.0,27000.0,26450.0,26450.0,259293.0
2022-03-03 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,27200.0,27200.0,27250.0,26750.0,27000.0,252731.0
2022-03-04 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26800.0,26800.0,27250.0,26700.0,27200.0,259344.0
2022-03-07 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26100.0,26100.0,26600.0,26050.0,26550.0,435519.0
2022-03-08 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,26100.0,26100.0,26550.0,25900.0,26000.0,364510.0
2022-03-11 00:00:00+00:00,GS리테일,KR,KOSPI,백화점과일반상점,007070.KS,28150.0,28150.0,28300.0,26650.0,26950.0,793301.0

# Data Write

In [31]:
# get csv file
import pandas as pd

file_path = './exampleData/swine.csv'
data = pd.read_csv(file_path, index_col='time')

In [32]:
data

                           COppm  H2Sppm  NH3ppm  NO2ppm  O2percentage
time
2021-10-21 12:16:00+00:00    1.0     1.0     4.0     0.0         211.0
2021-10-21 12:17:00+00:00    1.0     1.0     4.0     0.0         211.0
2021-10-21 12:18:00+00:00    1.0     1.0     4.0     0.0         211.0
2021-10-21 12:19:00+00:00    1.0     1.0     4.0     0.0         211.0
2021-10-21 12:20:00+00:00    1.0     1.0     4.0     0.0         211.0
...                          ...     ...     ...     ...           ...
2022-07-19 04:55:00+00:00    0.0     0.0     0.0     0.0         215.0
2022-07-19 04:56:00+00:00    0.0     0.0     0.0     0.0         215.0
2022-07-19 04:57:00+00:00    0.0     0.0     0.0     0.0         215.0
2022-07-19 04:58:00+00:00    0.0     0.0     0.0     0.0         215.0
2022-07-19 04:59:00+00:00    0.0     0.0     0.0     0.0         215.0

[1003830 rows x 5 columns]

In [33]:
# setting database, measurement name
db_name = 'air_test123'
ms_name = 'test123'

In [34]:
# Write data to the influxdb
db_client.write_db(db_name, ms_name, data)

========== write success ==========